/*overrides*/
.bg-primary {
    background-color: #666 !important;
}
.bg-success {
    background-color: #369 !important;
}
.bg-warning {
    background-color: #c00 !important;
}
.bg-danger {
    background-color: #005516 !important;
}
.bg-dark {
    background-color: #333 !important;
}

/*fonts*/
* {
    font-family: 'Noto Serif', Arial, serif;
}

/*other*/
.ImgContainer {
    width: 100%;
    height: 100%;
}
.portfolio-section:hover {
    opacity: 0.8;
    cursor: pointer;
}
